{% extends 'base.html' %}

{% block title %}
    Список жанров
{% endblock title %}

{% block body %}
<h1>Жанры</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название</th>
      <th scope="col">Описание</th>
      {% if user.is_superuser %}
      <th scope="col">Удалить</th>
      <th scope="col">Изменить</th>
      {% endif %}
    </tr>
  </thead>
{% for obj in object_list %}
<tr>
<td><a href="/genre/{{ obj.pk }}/">{{ obj.pk }}</a></td>
<td><a href="/genre/{{ obj.pk }}/">{{ obj.name }}</a></td>
<td>{{ obj.description|slice:":70"}}...</td>
  {% if user.is_superuser %}
<td><a href="/genre/delete/{{ obj.pk }}/"><i class="far fa-trash-alt"></i></a></td>
<td><a href="/genre/update/{{ obj.pk }}/"><i class="far fa-edit"></i></a></td>
  {% endif %}
</tr>
{% endfor %}
</table>
{% endblock body %}