{% extends 'base.html' %}

{% block title %}
Hello
{% endblock title %}

{% block body %}
{% if request.user.is_authenticated %}
<h3 class="text-center">Рады приветствовать Вас в нашем магазине, {{user.username}}!</h3>
{% else %}
<h3 class="text-center">Рады приветствовать Вас в нашем магазине!</h3>
{% endif %}
<div class="row">

    {% for obj in object_list %}
    <div class="col-sm">

          {% csrf_token %}

            <div class="card" style="width: 18rem;">
                <img src="{{ obj.foto.url }}" class="card-img-top" width="30%" height="150" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{ obj.name }}</h5>
                    <h6 class="card-title">Автор: {{ obj.author }}</h6>
                    <h6 class="card-title">Цена: {{ obj.price }}</h6>
                    <a href="books/{{obj.pk}}" class="btn btn-primary">Подробнее</a>
                    <a href="{% url 'cart:add' obj.pk %}" type="submit" class="btn btn-primary">Купить</a>
                </div>
            </div>

    </div>
    {% endfor %}
</div>
{% endblock body %}