{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Регистрация пользователя
{% endblock title %}

{% block body%}
<h3 class="text-center">Регистрация нового пользователя</h3>
<div classs="container">
    <div class="row">
        <div class="col-sm">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success  btn-lg type="submit" value="Зарегистрироваться">
            </form>

        </div>

    </div>

</div>
{% endblock body%}