{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Оформление заказа
{% endblock title %}

{% block body %}
<h1>Оформить заказ</h1>
Сумма заказа: {{ object.price}}<br>
Стоимость доставки: {{ object.delivery_price }}

<div class="col-sm">
    <form method="post" action="{% url 'order:create' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Оформить</button>

    </form>

</div>
{% endblock body %}