{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
LOG IN ! ! !
{% endblock title %}

{% block body %}
<h3 class="text-center">Введите Ваш логин и пароль</h3>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form|crispy }}

    <input class="btn btn-success  btn-lg" type="submit" value="Войти"/>

</form>


{# Assumes you setup the password_reset view in your URLconf #}
<h5><a href="{% url 'password_reset' %}">Lost password?</a></h5>
<h5><a href="{% url 'registration' %}">Registration</a></h5>

{% endblock %}