{% extends 'base.html' %}

{% block title %}
    Удалить книгу
{% endblock title %}

{% block body %}
<h1>{{ object.name }}</h1>
<form action="" method="POST">
    {% csrf_token %}
    <h2>Уверены что хотите удалить эту книгу?</h2>
    <button type="submit" class="btn btn-dark">ОФКОРЗ!</button>
</form>
{% endblock body %}