{% extends 'base.html' %}

{% block title %}
    Описание книги
{% endblock title %}

{% block body %}
<div style='float: right;'>
<img src="{{ object.foto.url }}" width="240" height="320" alt="lorem" class="rightpic">
</div>
<h1>Книга: {{ object.name }}</h1>
<h4>Автор: {{ object.author }}</h4>
<h4>Жанр: {{ object.genre }}</h4>
<h5>Возрастные ограничения: {{ object.age_restrictions }}</h5>
<h5>Издательство: {{ object.publ_house }}</h5>
<h5>Рейтинг: {{ object.rating }}</h5>
<h3>Цена: {{ object.price }}</h3>

<a href="{% url 'cart:add' object.pk %}" type="submit" class="btn btn-primary">Купить книгу</a>
{% endblock body %}
