{% extends 'base.html' %}

{% block title %}
    Список книг
{% endblock title %}

{% block body %}
<h1>Книги</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Обложка</th>
      <th scope="col">Название книги</th>
      <th scope="col">Жанр</th>
      <th scope="col">Автор</th>
      {% if user.is_superuser %}
      <th scope="col">Удалить</th>
      <th scope="col">Изменить</th>
      {% endif %}
    </tr>
  </thead>
{% for obj in object_list %}
<tr>
<td><a href="/books/{{ obj.pk }}/">{{ obj.pk }}</a></td>
<td><a href="/books/{{ obj.pk }}/"><img src="{{ obj.foto.url }}" width="60" height="80" alt="lorem"></a></td>
<td><a href="/books/{{ obj.pk }}/">{{ obj.name }}</a></td>
<td><a href="/genre/{{ obj.genre.pk }}/">{{ obj.genre }}</a></td>
<td><a href="/author/{{ obj.author.pk }}/">{{ obj.author}}</a></td>
  {% if user.is_superuser %}
<td><a href="/books/delete/{{ obj.pk }}/"><i class="far fa-trash-alt"></i></a></td>
<td><a href="/books/update/{{ obj.pk }}/"><i class="far fa-edit"></i></a></td>
{% endif %}
</tr>
{% endfor %}
</table>
{% endblock body %}