{% extends 'base.html' %}

{% block title %}
    Редактировать издательство
{% endblock title %}

{% block body %}
<h1>Издательство: {{ object.name }}</h1>
<p>{{ object.description }}</p>
{% endblock body %}