{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Создать серию
{% endblock title %}

{% block body%}
<h1>Серия</h1>
{{ action }}
<form action="" method="POST">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">send</button>
</form>
{% endblock body%}