{% extends 'base.html' %}

{% block title %}
    Удалить серию
{% endblock title %}

{% block body %}
<h1>Серия</h1>
<form action="" method="POST">
{% csrf_token %}
<h1>Уверены что хотите удалить эту серию из списка?</h1>
<button type="submit">ОФКОРЗ!</button>
</form>
{% endblock body %}