{% extends 'base.html' %}

{% block title %}
    Список издательств
{% endblock title %}

{% block body %}
<h1>Серии</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название</th>
      <th scope="col">Delete mode</th>
      <th scope="col">Update mode</th>
    </tr>
  </thead>
{% for obj in object_list %}
<tr>
<td><a href="/series/{{ obj.pk }}/">{{ obj.pk }}</a></td>
<td><a href="/series/{{ obj.pk }}/">{{ obj.name }}</a></td>
<td><a href="/series/delete/{{ obj.pk }}/">Удалить</a></td>
<td><a href="/series/update/{{ obj.pk }}/">Изменить</a></td>
</tr>

{% endfor %}
</table>
{% endblock body %}