{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Создать автора
{% endblock title %}

{% block body%}
<h1>Автор</h1>
{{ action }}
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-info">Отправить</button>
</form>
{% endblock body%}