{% extends 'base.html' %}

{% block title %}
    Удалить автора
{% endblock title %}

{% block body %}
<h1>Автор</h1>
<form action="" method="POST">
    {% csrf_token %}
    <h1>Уверены что хотите удалить этого автора?</h1>
    <button type="submit" class="btn btn-dark">ОФКОРЗ!</button>
</form>
{% endblock body %}