{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Hello
{% endblock title %}

{% block body %}
<h1>Добавить в корзину</h1>
<h4>Вы добавили книгу: {{ object.book.name }}</h4>
<h4>Доступно к заказу: {{ object.book.in_stock }}</h4>
<form action="" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-info">Отправить</button>
</form>
{% endblock body %}