{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Корзина
{% endblock title %}

{% block body %}
<h1>Корзина</h1>
<div class="container">
    <div class="col">
        {% for book_in_cart in cart.books.all %}
        <div class="col-sm">
            <div>{{book_in_cart.book.name}}</div>
            <div>Цена {{book_in_cart.book.price}}</div>
            <div>Количество {{book_in_cart.quantity}}</div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <form action="{% url 'cart:add' book_in_cart.book.pk %}">
                    <button type="submit" class="btn btn-secondary">Изменить</button>
                </form>
                <form action="{% url 'cart:delete' book_in_cart.book.pk %}">
                    <button type="submit" class="btn btn-secondary">Удалить</button>
                </form>
            </div>

        </div>
        <br>
        {% endfor %}
        <h4>Total price: {{ cart.total_price }}</h4>
                <a class="btn btn-primary btn-lg" href="/" role="button">Добавить книгу</a>
                <form action="{% url 'order:create' %}">
                    <button type="submit" class="btn btn-outline-success btn-lg btn-block">Оформить заказ</button>
                </form>
    </div>
</div>
{% endblock body %}
