{% extends 'base.html' %}

{% block title %}
    Удалить книгу из корзины
{% endblock title %}

{% block body %}
<h4>Книга: {{ object.book.name }}</h4>
<form action="" method="POST">
    {% csrf_token %}
    <h1>Уверены что хотите удалить эту книгу из корзины?</h1>
    <button type="submit" class="btn btn-dark">ОФКОРЗ!</button>
</form>
{% endblock body %}